@{  
    ViewBag.Title = "Browser Unsupported";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        </br>
        </br>
        <div class="span12">
            <div class="hero-unit">
                <h1>Your Browser is not supported.</h1>
                </br>
                </br>
                <p>We are sorry. The web browser you are using is not supported by Phila.gov/Map. In order to provide the best experience and functionality on this site, only newer browsers are supported.
                    Please upgrade or use a different browser.</p>                
            </div>
        </div>
    </div>
</div> 