@{  
    ViewBag.Title = "CityMaps Map";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        </br>
        </br>
        <div class="span12">
            <div class="hero-unit">
                <h1>This Application has been replaced.</h1>
                </br>
                </br>
                <p>This application has been replaced by the new and improved City of Philadelphia mapping application that can be found at Phila.gov/Map.</p> 
                <p><a href="http://www.Phila.gov/Map">www.Phila.gov/Map Home</a></p>     
                <p>Please update your bookmarks.</p>            
            </div>
        </div>
    </div>
</div> 