@{  
    ViewBag.Title = "Zoning Maps";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        </br>
        </br>
        <div class="span12">
            <div class="hero-unit">
                <h1>This Application has been replaced.</h1>
                </br>
                </br>
                <p>This application has been replaced by the new and improved version of Citymaps that can be found at Phila.gov/Map. You can use the Map Browser to select the new Zoning map.</p> 
                <p><a href="http://www.Phila.gov/Map">www.Phila.gov/Map Home</a></p>  
                <p><a href="http://www.Phila.gov/Map?id=757bbd2d07704a9bb684a1e88ca681c9">Direct Link to Zoning Map</a></p>
                <p>Please update your bookmarks.</p>                  
            </div>
        </div>
    </div>
</div> 